@import url(reset.css);
html, body { width: 100%; font-family: "AppleSDGothicNeoR"; overflow-x: hidden; }

.fixed .grid_wrap div { z-index: 300; width: 1px; height: 100vh; background-color: rgba(255, 26, 26, 0.5); position: fixed; top: 0; }
.fixed .grid_wrap div:nth-child(1) { left: 4.7%; }
.fixed .grid_wrap div:nth-child(2) { left: 32.8%; }
.fixed .grid_wrap div:nth-child(3) { right: 4.7%; }
.fixed .logo { position: fixed; width: 80px; height: 80px; background-color: #3B59EC; top: 5vw; left: 4.7vw; z-index: 700; transition: 0.3s; }
.fixed .logo.on { background-color: #FF5E3D; transition: all 0.5s; }
.fixed .logo h1 { text-align: center; font-size: 26px; line-height: 80px; color: #fff; font-family: "AppleSDGothicNeoH"; }
.fixed .util { position: fixed; z-index: 900; right: 1.5%; bottom: 5%; }
.fixed .util ul li { margin-bottom: 80px; }
.fixed .util ul li:nth-of-type(3) { margin-bottom: 0; }

nav { position: fixed; z-index: 700; width: 6vw; height: 100%; }
nav ul { position: absolute; transform: rotate(-90deg); top: 100vh; left: 0; width: 100vh; height: 60px; transform-origin: 0 0; }
nav ul li { display: inline-block; font-size: 28px; margin-left: 3vw; margin-top: 1.5vw; transition: 0.3s; }
nav ul li a { color: #FF1A1A; font-family: "AppleSDGothicNeoH"; }

.mobile_nav { display: none; }

.home { position: relative; overflow: hidden; width: 100%; }
.home .title { width: 100%; position: relative; padding: 20% 0; left: 9.1%; z-index: 300; }
.home .title h1 { font-size: 7.5vw; font-family: "AppleSDGothicNeoH"; color: #FF1A1A; }

.slide_loop { position: relative; width: 100%; margin: 0 auto; overflow: hidden; padding: 10% 0; }
.slide_loop .loop_txt { width: 100%; -webkit-text-stroke: 1px #FF1A1A; color: transparent; }
.slide_loop .loop_txt .loop_wrap { width: 100%; font-family: "AppleSDGothicNeoH"; transform: rotate(-3deg); }
.slide_loop .loop_txt .loop_wrap .txt { width: 100%; will-change: transform; white-space: nowrap; text-align: center; flex-direction: row; display: flex; overflow: hidden; }
.slide_loop .loop_txt .loop_wrap .txt h2 { font-size: 180px; letter-spacing: 0.2rem; transition: 0.3s; }
.slide_loop .loop_txt .loop_wrap .publisher h2 { animation: loop_mirror 10s -10s linear infinite; }
.slide_loop .loop_txt .loop_wrap .create h2 { animation: loop 13s -10s linear infinite; }

.content { position: relative; width: 100%; }
.content #about, .content #work { position: relative; margin-left: 32.8%; margin-right: 4.7%; z-index: 500; }
.content #about { height: 100vh; }
.content #about .about_name01 h3, .content #about .about_name02 h3 { position: absolute; font-size: 7vw; font-family: "AppleSDGothicNeoH"; transition: 0.3s; }
.content #about .about_name01 h3 { top: 15%; left: 15%; }
.content #about .about_name02 h3 { top: 25%; left: 50%; }
.content #about .about_name_outline h3 { color: transparent; -webkit-text-stroke: 1px #FFCA39; z-index: 300; }
.content #about .about_name_baseline h3 { color: #FFCA39; z-index: 5; }
.content #about .about_circle { position: absolute; top: 10%; left: 50%; transform: translateX(-50%); z-index: 200; transition: 0.3s; }
.content #about .about_circle .bounce { animation: bounce 3s linear infinite; max-width: 250px; width: 100%; }
.content #about .about_txtarea { position: relative; font-size: 20px; top: 50%; width: 40%; margin-left: 50%; transition: 0.3s; }
.content #about .about_txtarea span { display: inline-block; color: #494949; font-family: "AppleSDGothicNeoUL"; margin-bottom: 25px; }
.content #about .about_txtarea p { margin-bottom: 15px; }
.content #work { margin-bottom: 5%; }
.content #work .work_pannel { position: relative; }
.content #work .work_pannel .work_scroll_view { table-layout: fixed; display: table; margin-bottom: 5%; }
.content #work .work_pannel .work_scroll_view .work_list { position: relative; display: table-cell; vertical-align: middle; width: 35%; }
.content #work .work_pannel .work_scroll_view .work_list:nth-of-type(3), .content #work .work_pannel .work_scroll_view .work_list:nth-of-type(6) { margin-right: 0; }
.content #work .work_pannel .work_scroll_view .work_list a { color: #fff; display: block; width: 19.5vw; }
.content #work .work_pannel .work_scroll_view .work_list a .work_01 { background: url(../img/work/work_01.jpg) center/cover; }
.content #work .work_pannel .work_scroll_view .work_list a .work_02 { background: url(../img/work/work_02.jpg) center/cover; }
.content #work .work_pannel .work_scroll_view .work_list a .work_03 { background: url(../img/work/work_03.jpg) center/cover; }
.content #work .work_pannel .work_scroll_view .work_list a .work_04 { background: url(../img/work/work_04.jpg) center/cover; }
.content #work .work_pannel .work_scroll_view .work_list a .work_05 { background: url(../img/work/work_05.jpg) center/cover; }
.content #work .work_pannel .work_scroll_view .work_list a .work_06 { background: url(../img/work/work_06.jpg) center/cover; }
.content #work .work_pannel .work_scroll_view .work_list a .work_view { position: relative; width: 19.5vw; height: 32vw; box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.301); z-index: 100; }
.content #work .work_pannel .work_scroll_view .work_list a .work_view:hover .work_txt { display: block; }
.content #work .work_pannel .work_scroll_view .work_list a .work_view .work_txt { display: none; position: relative; width: 100%; height: 100%; background: rgba(30, 30, 30, 0.5); }
.content #work .work_pannel .work_scroll_view .work_list a .work_view .work_txt .category { position: absolute; text-align: right; font-size: 1vw; font-family: "AppleSDGothicNeoL"; line-height: 40px; top: 5%; right: 8%; }
.content #work .work_pannel .work_scroll_view .work_list a .work_view .work_txt .title { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 3vw; font-family: "AppleSDGothicNeoB"; text-align: center; width: 300px; }
.content #work .modal_air { display: none; position: fixed; z-index: 800; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.8); }
.content #work .modal_air .modal-content { width: 80%; max-width: 1400px; display: block; margin: auto; padding-top: 5%; }
.content #work .modal_air .close { position: fixed; top: 3vw; right: 3vw; color: #fff; font-size: 1.5vw; transition: 0.3s; }
.content #work .modal_air .close:hover { color: #bbb; cursor: pointer; }
.content #work .modal_clue { display: none; position: fixed; z-index: 800; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.8); }
.content #work .modal_clue .modal-content { width: 80%; max-width: 1400px; display: block; margin: auto; padding-top: 5%; }
.content #work .modal_clue .close_2 { position: fixed; top: 3vw; right: 3vw; color: #fff; font-size: 1.5vw; transition: 0.3s; }
.content #work .modal_clue .close_2:hover { color: #bbb; cursor: pointer; }
.content #contact { position: relative; width: 100%; height: 200px; background-color: #FFCE2E; }
.content #contact #con_wrap { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.content #contact #con_wrap ul { display: flex; }
.content #contact #con_wrap ul li { margin: 0 20px; }
.content #contact #con_wrap span { display: block; margin-top: 20px; text-align: center; font-size: 22px; }
.content #contact p { position: absolute; left: 50%; transform: translateX(-50%); bottom: 10%; font-size: 16px; font-family: "AppleSDGothicNeoL"; }

/*# sourceMappingURL=portfolio.css.map */
