@charset "utf-8";
@import url(reset.css);

@font-face {
    font-family: "AppleSDGothicNeoH";
    src: url("../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url("../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
    font-family: "AppleSDGothicNeoR";
    src: url("../fonts/AppleSDGothicNeoR.ttf");
}

@font-face {
    font-family: "AppleSDGothicNeoL";
    src: url("../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
    font-family: "AppleSDGothicNeoUL";
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
}

$main_color:#FF1A1A;
$sub_color:#FFCA39;
$point_color: #3B59EC;
$font_H: "AppleSDGothicNeoH";
$font_B: "AppleSDGothicNeoB";
$font_R: "AppleSDGothicNeoR";
$font_L: "AppleSDGothicNeoL";
$font_UL: "AppleSDGothicNeoUL";

html {
    font-size: 10px;
}

body {
    font-family: $font_R;
}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #CBCFE8;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #858EC5;
}

//::-webkit-scrollbar-button:start:decrement,::webkit-scrollbar-button:end:increment{width: 10px; height: 60px;}

// scroll bar design

.gird_wrap {

    div {
        z-index: 100;
        width: 1px;
        height: 100vh;
        background-color: rgba(255, 26, 26, 0.5);
        position: fixed;
        top: 0;

        &:nth-child(1) {
            left: 4.7vw;
        }

        &:nth-child(2) {
            left: 32.8vw;
        }

        &:nth-child(3) {
            right: 4.7vw;
        }
    }
}

.logo {
    position: fixed;
    width: 64px;
    height: 64px;
    background-color: $point_color;
    top: 5vw;
    left: 4.7vw;
    z-index: 999;

    h1 {
        text-align: center;
        font-size: 2.6rem;
        line-height: 64px;
        color: #fff;
        font-family: $font_H;
    }
}

.menu {
    position: fixed;
    top: 6vw;
    right: 4.7vw;
    cursor: pointer;
    z-index: 20;

    div {
        width: 33px;
        height: 3px;
        background-color: #000;
        margin-bottom: 7px;

        &:nth-child(2) {
            width: 26px;
        }
    }
}

.home {
    position: relative;
    overflow: hidden;
    width: 100%;

    .title {
        position: relative;
        width: 100%;
        height: 970px;
        top: 18vw;
        left: 16.1vw;
        z-index: 20;

        h1 {
            font-size: 12rem;
            font-family: $font_H;
            color: $main_color;
        }
    }

    .scroll_slide {
        position: relative;
        width: 100%;
        height: 600px;
        padding: 30px 0 180px 0;

        p {
            text-align: center;
            font-size: 2.5rem;
            font-family: $font_B;
        }

        .loop_txt {
            position: absolute;
            width: 100%;
            padding-top: 100px;
            transform: rotate(-4deg);
            font-family: $font_H;
            -webkit-text-stroke: 1px $main_color;
            color: transparent;
            letter-spacing: 1rem;

            .txt {
                width: 100%;
                display: flex;
                flex-direction: row;
                text-align: center;
                overflow: hidden;

                h1 {
                    font-size: 20rem;
                    width: calc();
                }
            }

            .create {
                will-change: transform;
                white-space: nowrap;

                h1 {
                    animation: loop 17s -10s linear infinite;
                }
            }

            .publisher {
                will-change: transform;
                white-space: nowrap;

                h1 {
                    animation: loop_mirror 10s -10s linear infinite;
                    padding-right: 2vw;

                    span {

                        &:nth-of-type(2),
                        &:nth-of-type(4) {
                            color: $main_color;
                        }
                    }
                }
            }
        }
    }
}

//home

@keyframes loop {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes loop_mirror {
    0% {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

// home keyframes

.content {
    position: relative;
    width: 100%;

    .nav {
        position: fixed;
        top: 13vw;
        left: 4.7vw;
        z-index: 20;

        li {
            margin-bottom: 30px;

            &.on {
                margin-bottom: 500px;

                a {
                    color: $main_color;
                }
            }

            &.on:last-child {
                margin-bottom: 0;
            }

            a {
                font-size: 8rem;
                color: transparent;
                font-family: $font_H;
                -webkit-text-stroke: 1px $main_color;
            }
        }
    }

    // nav

    .section {
        position: relative;
        padding-left: 32.8vw;
    }

    #about {
        height: 1000px;
        background-color: rgba(171, 179, 215, 0.52);

        .about_name01,
        .about_name02 {
            h3 {
                position: absolute;
                font-size: 12rem;
                font-family: $font_H;
            }
        }

        .about_name01 h3 {
            top: 20%;
            left: 45%;
        }

        .about_name02 h3 {
            top: 30%;
            left: 65%;
        }

        .about_name_outline {
            h3 {
                color: transparent;
                -webkit-text-stroke: 1px #FFCA39;
                z-index: 10;
            }

        }

        .about_name_baseline {
            h3 {
                color: #FFCA39;
                z-index: 5;
            }
        }

        .about_circle {
            position: absolute;
            top: 10%;
            left: 55%;
            z-index: 7;

            .bounce {
                animation: bounce 3s linear infinite;
            }
        }

        .about_txtarea {
            font-size: 2rem;

            .txtarea_wrap {
                padding-top: 43%;
                padding-left: 50%;

                span {
                    display: inline-block;
                    color: #494949;
                    font-family: $font_UL;
                    margin-bottom: 25px;
                }

                p {
                    margin-bottom: 15px;
                }
            }
        }
    }

    //about

    #work {
        height: 2500px;

        .work_txtarea {
            padding-top: 7.5vw;
            padding-left: 4vw;

            ul {
                li {
                    display: inline-block;
                    margin-right: 3%;

                    &.on {
                        font-family: $font_B;
                    }

                    a {
                        font-size: 2rem;
                        font-family: $font_L;
                    }
                }
            }
        }

        .work_pannel {
            padding-top: 10%;

            .work_scroll_view {
                .work_list {
                    &:nth-of-type(2){
                        transform: matrix(1, 0, 0, 1, 0, 55);
                    }
                    
                    a {
                        color: #fff;
                        .work_view {
                            position: relative;
                            float: left;
                            width: 375px;
                            height: 620px;
                            background: url(../img/Work/sample.jpg) center/cover;
                            margin-right: 2.3%;
                            margin-bottom: 5%;
                            z-index: 10;

                            .category {
                                position: absolute;
                                text-align: right;
                                font-size: 1.8rem;
                                font-family: $font_L;
                                line-height: 40px;
                                top: 5%;
                                right: 8%;

                            }

                            .title {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                font-size: 6rem;
                                font-family: $font_B;
                                text-align: center;
                                width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }

    //work

    #contact {
        height: 970px;
        background-color: #FFCE2E;
    }

    //contact
}

//content

@keyframes bounce {
    0% {
        transform: translateY(20px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(20px)
    }
}

//content keyframes
