@import url(reset.css);
@font-face { font-family: "AppleSDGothicNeoH"; src: url("../fonts/AppleSDGothicNeoH.ttf"); }
@font-face { font-family: "AppleSDGothicNeoB"; src: url("../fonts/AppleSDGothicNeoB.ttf"); }
@font-face { font-family: "AppleSDGothicNeoR"; src: url("../fonts/AppleSDGothicNeoR.ttf"); }
@font-face { font-family: "AppleSDGothicNeoL"; src: url("../fonts/AppleSDGothicNeoL.ttf"); }
html { font-size: 10px; }

body { font-family: "AppleSDGothicNeoR"; }

::-webkit-scrollbar { width: 17px; }

::-webkit-scrollbar-track { background-color: #F5F5F5; }

::-webkit-scrollbar-thumb { background-color: #CBCFE8; border-radius: 50px; }

::-webkit-scrollbar-thumb:hover { background-color: #858EC5; }

.gird_wrap div { z-index: 100; width: 1px; height: 100vh; background-color: rgba(255, 26, 26, 0.5); position: fixed; top: 0; }
.gird_wrap div:nth-child(1) { left: 4.7vw; }
.gird_wrap div:nth-child(2) { left: 32.8vw; }
.gird_wrap div:nth-child(3) { right: 4.7vw; }

.logo { position: fixed; width: 64px; height: 64px; background-color: #3B59EC; top: 5vw; left: 4.7vw; z-index: 999; }
.logo h1 { text-align: center; font-size: 2.6rem; line-height: 64px; color: #fff; font-family: "AppleSDGothicNeoH"; }

.menu { position: fixed; top: 6vw; right: 4.7vw; cursor: pointer; z-index: 20; }
.menu div { width: 33px; height: 3px; background-color: #000; margin-bottom: 7px; }
.menu div:nth-child(2) { width: 26px; }

.Home { position: relative; overflow: hidden; width: 100%; }
.Home .title { position: relative; width: 100%; height: 970px; top: 18vw; left: 16.1vw; z-index: 20; }
.Home .title h1 { font-size: 12rem; font-family: "AppleSDGothicNeoH"; color: #FF1A1A; }
.Home .scroll_slide { position: relative; width: 100%; height: 600px; padding: 30px 0 180px 0; }
.Home .scroll_slide p { text-align: center; font-size: 2.5rem; font-family: "AppleSDGothicNeoB"; }
.Home .scroll_slide .loop_txt { position: absolute; width: 100%; padding-top: 100px; transform: rotate(-4deg); font-family: "AppleSDGothicNeoH"; -webkit-text-stroke: 1px #FF1A1A; color: transparent; letter-spacing: 1rem; }
.Home .scroll_slide .loop_txt .txt { width: 100%; display: flex; flex-direction: row; text-align: center; overflow: hidden; }
.Home .scroll_slide .loop_txt .txt h1 { font-size: 20rem; width: calc(); }
.Home .scroll_slide .loop_txt .create { will-change: transform; white-space: nowrap; }
.Home .scroll_slide .loop_txt .create h1 { animation: loop 17s -10s linear infinite; }
.Home .scroll_slide .loop_txt .publisher { will-change: transform; white-space: nowrap; }
.Home .scroll_slide .loop_txt .publisher h1 { animation: loop_mirror 10s -10s linear infinite; padding-right: 2vw; }
.Home .scroll_slide .loop_txt .publisher h1 span:nth-of-type(2), .Home .scroll_slide .loop_txt .publisher h1 span:nth-of-type(4) { color: #FF1A1A; }

@keyframes loop { 0% { transform: translateX(0); }
  to { transform: translateX(-100%); } }
@keyframes loop_mirror { 0% { transform: translateX(-100%); }
  to { transform: translateX(0); } }
.content { position: relative; width: 100%; }
.content .nav { position: fixed; top: 13vw; left: 4.7vw; }
.content .nav li { margin-bottom: 30px; }
.content .nav li.on { margin-bottom: 500px; }
.content .nav li.on a { color: #FF1A1A; }
.content .nav li.on:last-child { margin-bottom: 0; }
.content .nav li a { font-size: 8rem; color: transparent; font-family: "AppleSDGothicNeoH"; -webkit-text-stroke: 1px #FF1A1A; }
.content .section { padding-left: 32.8vw; }
.content #About { height: 1200px; background-color: rgba(144, 178, 248, 0.32); }
.content #About .About_name01 h3, .content #About .About_name02 h3 { position: absolute; font-size: 12rem; font-family: "AppleSDGothicNeoH"; }
.content #About .About_name01 h3 { top: 5%; left: 45%; }
.content #About .About_name02 h3 { top: 8%; left: 65%; }
.content #About .About_name_outline h3 { color: transparent; -webkit-text-stroke: 1px #FFCA39; z-index: 10; }
.content #About .About_name_baseline h3 { color: #FFCA39; z-index: 5; }
.content #About .About_circle { position: absolute; top: 3%; left: 55%; z-index: 7; transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }
.content #About .About_txtarea { font-size: 2rem; }
.content #About .About_txtarea .txtarea_wrap { padding-top: 50%; padding-left: 50%; }
.content #About .About_txtarea .txtarea_wrap span { display: inline-block; color: #A1A1A1; font-family: "AppleSDGothicNeoL"; margin-bottom: 25px; }
.content #About .About_txtarea .txtarea_wrap p { margin-bottom: 15px; }
.content #Work { height: 1990px; }
.content #Contact { height: 970px; background-color: #FFCE2E; }

/*# sourceMappingURL=rimmy.css.map */
