@import url(reset.css);
@font-face { font-family: "AppleSDGothicNeoH"; src: url("../fonts/AppleSDGothicNeoH.ttf"); }
@font-face { font-family: "AppleSDGothicNeoB"; src: url("../fonts/AppleSDGothicNeoB.ttf"); }
@font-face { font-family: "AppleSDGothicNeoR"; src: url("../fonts/AppleSDGothicNeoR.ttf"); }
@font-face { font-family: "AppleSDGothicNeoL"; src: url("../fonts/AppleSDGothicNeoL.ttf"); }
@font-face { font-family: "AppleSDGothicNeoUL"; src: url("../fonts/AppleSDGothicNeoUL.ttf"); }
html { font-size: 10px; }

body { font-family: "AppleSDGothicNeoR"; }

::-webkit-scrollbar { width: 17px; }

::-webkit-scrollbar-track { background-color: #F5F5F5; }

::-webkit-scrollbar-thumb { background-color: #CBCFE8; border-radius: 50px; }

::-webkit-scrollbar-thumb:hover { background-color: #858EC5; }

.gird_wrap div { z-index: 100; width: 1px; height: 100vh; background-color: rgba(255, 26, 26, 0.5); position: fixed; top: 0; }
.gird_wrap div:nth-child(1) { left: 4.7vw; }
.gird_wrap div:nth-child(2) { left: 32.8vw; }
.gird_wrap div:nth-child(3) { right: 4.7vw; }

.logo { position: fixed; width: 64px; height: 64px; background-color: #3B59EC; top: 5vw; left: 4.7vw; z-index: 999; }
.logo h1 { text-align: center; font-size: 2.6rem; line-height: 64px; color: #fff; font-family: "AppleSDGothicNeoH"; }

.menu { position: fixed; top: 6vw; right: 4.7vw; cursor: pointer; z-index: 20; }
.menu div { width: 33px; height: 3px; background-color: #000; margin-bottom: 7px; }
.menu div:nth-child(2) { width: 26px; }

.home { position: relative; overflow: hidden; width: 100%; }
.home .title { position: relative; width: 100%; height: 970px; top: 18vw; left: 16.1vw; z-index: 20; }
.home .title h1 { font-size: 12rem; font-family: "AppleSDGothicNeoH"; color: #FF1A1A; }
.home .scroll_slide { position: relative; width: 100%; height: 600px; padding: 30px 0 180px 0; }
.home .scroll_slide p { text-align: center; font-size: 2.5rem; font-family: "AppleSDGothicNeoB"; }
.home .scroll_slide .loop_txt { position: absolute; width: 100%; padding-top: 100px; transform: rotate(-4deg); font-family: "AppleSDGothicNeoH"; -webkit-text-stroke: 1px #FF1A1A; color: transparent; letter-spacing: 1rem; }
.home .scroll_slide .loop_txt .txt { width: 100%; display: flex; flex-direction: row; text-align: center; overflow: hidden; }
.home .scroll_slide .loop_txt .txt h1 { font-size: 20rem; width: calc(); }
.home .scroll_slide .loop_txt .create { will-change: transform; white-space: nowrap; }
.home .scroll_slide .loop_txt .create h1 { animation: loop 17s -10s linear infinite; }
.home .scroll_slide .loop_txt .publisher { will-change: transform; white-space: nowrap; }
.home .scroll_slide .loop_txt .publisher h1 { animation: loop_mirror 10s -10s linear infinite; padding-right: 2vw; }
.home .scroll_slide .loop_txt .publisher h1 span:nth-of-type(2), .home .scroll_slide .loop_txt .publisher h1 span:nth-of-type(4) { color: #FF1A1A; }

@keyframes loop { 0% { transform: translateX(0); }
  to { transform: translateX(-100%); } }
@keyframes loop_mirror { 0% { transform: translateX(-100%); }
  to { transform: translateX(0); } }
.content { position: relative; width: 100%; }
.content .nav { position: fixed; top: 13vw; left: 4.7vw; z-index: 20; }
.content .nav li { margin-bottom: 30px; }
.content .nav li.on { margin-bottom: 500px; }
.content .nav li.on a { color: #FF1A1A; }
.content .nav li.on:last-child { margin-bottom: 0; }
.content .nav li a { font-size: 8rem; color: transparent; font-family: "AppleSDGothicNeoH"; -webkit-text-stroke: 1px #FF1A1A; }
.content .section { position: relative; padding-left: 32.8vw; }
.content #about { height: 1000px; background-color: rgba(171, 179, 215, 0.52); }
.content #about .about_name01 h3, .content #about .about_name02 h3 { position: absolute; font-size: 12rem; font-family: "AppleSDGothicNeoH"; }
.content #about .about_name01 h3 { top: 20%; left: 45%; }
.content #about .about_name02 h3 { top: 30%; left: 65%; }
.content #about .about_name_outline h3 { color: transparent; -webkit-text-stroke: 1px #FFCA39; z-index: 10; }
.content #about .about_name_baseline h3 { color: #FFCA39; z-index: 5; }
.content #about .about_circle { position: absolute; top: 10%; left: 55%; z-index: 7; }
.content #about .about_circle .bounce { animation: bounce 3s linear infinite; }
.content #about .about_txtarea { font-size: 2rem; }
.content #about .about_txtarea .txtarea_wrap { padding-top: 43%; padding-left: 50%; }
.content #about .about_txtarea .txtarea_wrap span { display: inline-block; color: #494949; font-family: "AppleSDGothicNeoUL"; margin-bottom: 25px; }
.content #about .about_txtarea .txtarea_wrap p { margin-bottom: 15px; }
.content #work { height: 2500px; }
.content #work .work_txtarea { padding-top: 7.5vw; padding-left: 4vw; }
.content #work .work_txtarea ul li { display: inline-block; margin-right: 3%; }
.content #work .work_txtarea ul li.on { font-family: "AppleSDGothicNeoB"; }
.content #work .work_txtarea ul li a { font-size: 2rem; font-family: "AppleSDGothicNeoL"; }
.content #work .work_pannel { padding-top: 10%; }
.content #work .work_pannel .work_scroll_view .work_list:nth-of-type(2) { transform: matrix(1, 0, 0, 1, 0, 55); }
.content #work .work_pannel .work_scroll_view .work_list a { color: #fff; }
.content #work .work_pannel .work_scroll_view .work_list a .work_view { position: relative; float: left; width: 375px; height: 620px; background: url(../img/Work/sample.jpg) center/cover; margin-right: 2.3%; margin-bottom: 5%; z-index: 10; }
.content #work .work_pannel .work_scroll_view .work_list a .work_view .category { position: absolute; text-align: right; font-size: 1.8rem; font-family: "AppleSDGothicNeoL"; line-height: 40px; top: 5%; right: 8%; }
.content #work .work_pannel .work_scroll_view .work_list a .work_view .title { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 6rem; font-family: "AppleSDGothicNeoB"; text-align: center; width: 300px; }
.content #contact { height: 970px; background-color: #FFCE2E; }

@keyframes bounce { 0% { transform: translateY(20px); }
  50% { transform: translateY(0px); }
  100% { transform: translateY(20px); } }

/*# sourceMappingURL=rimmy.css.map */
