@charset "utf-8";
@import url(reset.css);

@font-face {
    font-family: "AppleSDGothicNeoH";
    src: url("../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url("../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
    font-family: "AppleSDGothicNeoR";
    src: url("../fonts/AppleSDGothicNeoR.ttf");
}

@font-face {
    font-family: "AppleSDGothicNeoL";
    src: url("../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
    font-family: "AppleSDGothicNeoUL";
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
}

$main_color:#FF1A1A;
$sub_color:#FFCA39;
$point_color: #3B59EC;
$font_H: "AppleSDGothicNeoH";
$font_B: "AppleSDGothicNeoB";
$font_R: "AppleSDGothicNeoR";
$font_L: "AppleSDGothicNeoL";
$font_UL: "AppleSDGothicNeoUL";

html {
    font-size: 10px;
}

body {
    font-family: $font_R;
}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #CBCFE8;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #858EC5;
}

//::-webkit-scrollbar-button:start:decrement,::webkit-scrollbar-button:end:increment{width: 10px; height: 60px;}

// scroll bar design

.gird_wrap {

    div {
        z-index: 300;
        width: 1px;
        height: 100vh;
        background-color: rgba(255, 26, 26, 0.5);
        position: fixed;
        top: 0;

        &:nth-child(1) {
            left: 4.7%;
        }

        &:nth-child(2) {
            left: 32.8%;
        }

        &:nth-child(3) {
            right: 4.7%;
        }
    }
}

.logo {
    position: fixed;
    width: 64px;
    height: 64px;
    background-color: $point_color;
    top: 5vw;
    left: 4.7vw;
    z-index: 500;

    &.nav_on {
        background-color: #FF5E3D;
    }

    h1 {
        text-align: center;
        font-size: 2.6rem;
        line-height: 64px;
        color: #fff;
        font-family: $font_H;
    }
}

// logo 

.util {
    position: fixed;
    z-index: 500;
    right: 1.5%;
    bottom: 5%;

    ul {
        li {
            margin-bottom: 80px;

            &:nth-of-type(3) {
                margin-bottom: 0;
            }
        }
    }

}

.menu {
    position: fixed;
    top: 6vw;
    right: 4.7vw;
    cursor: pointer;
    z-index: 500;

    div {
        width: 33px;
        height: 3px;
        background-color: #000;
        margin-bottom: 7px;

        &:nth-child(2) {
            width: 26px;
        }
    }
}

.nav_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $point_color;
    z-index: 400;
    text-align: left;
    overflow: hidden;
    opacity: 0;

    nav {
        width: 30%;
        height: 100%;
        padding: 0 15%;
        right: auto;
        vertical-align: middle;
        float: left;

        ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);


            li {
                margin-bottom: 15%;

                a {
                    color: #fff;
                    font-size: 8rem;
                    font-family: $font_H;
                }
            }
        }
    }

    .nav_util {
        position: relative;
        float: left;
        width: 40%;
        height: 100%;
        line-height: 70px;

        .util_wrap {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10%;

            h3 {
                font-size: 2.7rem;
                font-family: $font_B;
                color: #fff;

                &:nth-child(1) {
                    color: $sub_color;
                }
            }

            a {
                margin-right: 5%;
            }
        }
    }
}

// menu

.home {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .title {
        width: 100%;
        height: 100%;
        position: relative;
        margin-top: 30vh;
        left: 16.1vw;
        z-index: 300;

        h1 {
            font-size: 9.19vw;
            font-family: $font_H;
            color: $main_color;
        }
    }
}

//home

.scroll_slide {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 600px;

    .slide_wrap {
        
        p {
            text-align: center;
            font-size: 2.5rem;
            font-family: $font_B;
        }

        .loop_txt {
            position: absolute;
            width: 100%;
            font-family: $font_H;
            -webkit-text-stroke: 1px $main_color;
            color: transparent;
            
            .loop_wrap{
                width: 100%;
                 transform: rotate(-3deg);

            .txt {
                width: 100%;
                display: flex;
                flex-direction: row;
                text-align: center;
                overflow: hidden;

                h1 {
                    font-size: 12vw;
                    letter-spacing: 0.2rem;
                    width: calc();
                }
            }

            .create {
                will-change: transform;
                white-space: nowrap;

                h1 {
                    animation: loop 17s -10s linear infinite;
                }
            }

            .publisher {
                will-change: transform;
                white-space: nowrap;

                h1 {
                    animation: loop_mirror 10s -10s linear infinite;
                    padding-right: 2vw;

                    span {

                        &:nth-of-type(2),
                        &:nth-of-type(4) {
                            color: $main_color;
                        }
                    }
                }
            }
        }
    }
}
    }

@keyframes loop {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes loop_mirror {
    0% {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

// home keyframes

.content {
    position: relative;
    width: 100%;

    .nav {
        position: fixed;
        top: 30vh;
        left: 4.7%;
        z-index: 200;

        li {
            margin-bottom: 30px;

            &.on {
                margin-bottom: 500px;

                a {
                    color: $main_color;
                }
            }

            &.on:last-child {
                margin-bottom: 0;
            }

            a {
                font-size: 5vw;
                color: transparent;
                font-family: $font_H;
                -webkit-text-stroke: 1px $main_color;
            }
        }
    }

    // nav

    .section {
        position: relative;

    }

    #about,
    #work {
        margin-left: 32.8%;
        margin-right: 4.7%;
    }

    #about {
        height: 100%;

        .about_name01,
        .about_name02 {
            h3 {
                position: absolute;
                font-size: 7vw;
                font-family: $font_H;
            }
        }

        .about_name01 h3 {
            top: 20%;
            left: 15%;
        }

        .about_name02 h3 {
            top: 55%;
            left: 50%;
        }

        .about_name_outline {
            h3 {
                color: transparent;
                -webkit-text-stroke: 1px #FFCA39;
                z-index: 300;
            }

        }

        .about_name_baseline {
            h3 {
                color: #FFCA39;
                z-index: 5;
            }
        }

        .about_circle {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 200;

            .bounce {
                animation: bounce 3s linear infinite;
                max-width: 300px;
                width: 100%;
            }
        }

        .about_txtarea {
            position: relative;
            font-size: 1.1vw;
            top: 80%;
            width: 40%;
            padding-left: 50%;

            span {
                display: inline-block;
                color: #494949;
                font-family: $font_UL;
                margin-bottom: 25px;
            }

            p {
                margin-bottom: 15px;
            }
        }
    }

    //about

    #work {
        height: 2500px;

        .work_txtarea {
            padding-top: 7.5vw;
            padding-left: 4vw;

            ul {
                li {
                    display: inline-block;
                    margin-right: 3%;
                    font-size: 2rem;
                    font-family: $font_L;
                    cursor: pointer;

                    &.on {
                        font-family: $font_B;
                    }
                }
            }
        }

        .work_pannel {
            padding-top: 10%;

            .work_inner {

                .work_scroll_view {

                    .work_list {

                        &:nth-of-type(2) {
                            transform: matrix(1, 0, 0, 1, 0, 55);
                        }

                        a {
                            color: #fff;

                            .work_view {
                                position: relative;
                                float: left;
                                width: 375px;
                                height: 620px;
                                background: url(../img/work/sample.jpg) center/cover;
                                margin-right: 1.5vw;
                                margin-bottom: 5%;
                                z-index: 100;

                                .category {
                                    position: absolute;
                                    text-align: right;
                                    font-size: 1.8rem;
                                    font-family: $font_L;
                                    line-height: 40px;
                                    top: 5%;
                                    right: 8%;

                                }

                                .title {
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    font-size: 6rem;
                                    font-family: $font_B;
                                    text-align: center;
                                    width: 300px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //work

    #contact {
        height: 970px;
        background-color: #FFCE2E;

        img {
            position: absolute;
            left: 61%;
            top: 18%;
        }

        form {
            position: absolute;
            top: 38%;
            left: 45.5%;
            float: left;
            width: 720px;
            overflow: hidden;

            input {
                background-color: rgba(255, 255, 255, 0.54);
                box-sizing: border-box;
                border: none;
                font-size: 2.2rem;
                font-family: $font_B;
                height: 50px;
                margin-bottom: 3%;
                padding: 0 15px;

                &::placeholder {
                    color: #FF570C;
                }
            }

            #name {
                width: 260px;
                margin-right: 50px;
                float: left;
            }

            #mail {
                width: 410px;
                float: left;
            }

            #submit {
                width: 100%;
                height: 250px;
                padding: 20px 15px;
                background-color: rgba(255, 255, 255, 0.54);
                border: none;
                margin-bottom: 3%;
                font-size: 2.2rem;
                font-family: $font_B;
                color: #FF570C;

                &::placeholder {
                    color: #FF570C;
                }
            }

            #send {
                width: 250px;
                color: #FF570C;
                text-align: left;
            }
        }

        .copy {
            position: absolute;
            left: 45.5%;
            bottom: 3%;

            p {
                font-size: 1.8rem;
                font-family: $font_UL;
            }
        }
    }

    //contact
}

//content

@keyframes bounce {
    0% {
        transform: translateY(20px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(20px)
    }
}

//about keyframes

@media screen and (min-width:768px) and (max-width:1024px) {
    .util {
        right: 0.5vw;
    }

    .home {

        .title {}

        .scroll_slide {
            .loop_txt {
                .txt {
                    h1 {
                        //                        font-size: 15rem;
                    }
                }
            }
        }
    }

    .content {

        .section {}

        #about {

            .about_name01,
            .about_name02 {
                h3 {}
            }

            .about_name01 {}

            .about_name02 {}

            .about_circle {}
        }
    }
}

// media tablet

@media screen and (max-width: 767px) {
    .util {
        display: none;
    }

    .menu {
        top: 10vw;
    }

    .home {
        .title {
            left: 4.2vw;
            margin-bottom: 0;
        }

        .scroll_slide {
            top: 0;
        }
    }

    .content {
        .nav {
            ul {
                display: none;
            }
        }

        .section {
            padding-left: 0;
        }

        #about,
        #work {
            margin: 0 4.7%;
        }

        #about {
            margin: 0;

            .about_name01,
            .about_name02 {
                h3 {
                    font-size: 13vw;
                }
            }

            .about_name01 {
                h3 {
                    top: 35%;
                    left: 10%;
                }
            }

            .about_name02 {
                h3 {
                    right: 20%;
                }
            }


            .about_txtarea {
                padding-left: 4.7vw;
                font-size: 4vw;
                width: 92%;
            }
        }
    }
}

//media moblie
